body {
  margin: 0;
  font-family: $font-main;
  font-size: 24px;
  line-height: 1;
  color: $color-text;
  background-color: $color-white;
  min-height: 100vh;
}

h1, h2, h3, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: $color-text;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

select::-ms-expand {
  display: none;
}

input {
  &::-ms-clear {
    display: none;
  }

  &::-ms-clear {
    display: none;
  }

  &:disabled {
    pointer-events: none;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

input, textarea, select {
  font-family: $font-main;
}

input[type=number] {
  -moz-appearance:textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: #ffffff !important;
}

button {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.logo {
  width: 107px;
  height: 28px;
  margin-bottom: 25px;
  background-size: cover;
}

.row-checkbox {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;

  &__item {
    margin: 0 14px 24px 0;

    &:last-of-type {
      margin-right: 0;
    }

    .el-checkbox {
      &--column {
        margin-right: 0 !important;
      }
    }
  }
}
