$color-white: #fff;
$color-black: #000;

$color-active: #f7464e;
$color-active-hover: #e33d44;
$color-text: #262626;
$color-info: #898989;
$color-disabled-arrow: #b2b2b2;
$color-disabled: #f0f0f0;
$color-placeholder: rgba(38, 38, 38, 0.4);
$color-border: #e8e8e8;

$bg-error: rgba(255, 108, 104, 0.15);
$bg-hover: rgba(2, 151, 142, 0.08);
$bg-table: #f0f0f0;
$bg-button-hover: #e4e4e4;

$font-main: Arial, sans-serif;
$font-main-light: Arial, sans-serif;
$font-main-bold: Arial, sans-serif;

$header-height: 74px;
$header-background: $color-white;

$border-main: solid 1px #e4e4e4;

$font-path: './assets/fonts';
$img-path: './assets/img';
